# Dependencias
node_modules/
**/node_modules/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Builds / salidas
dist/
build/
coverage/
*.tsbuildinfo

# Prisma generado
prisma/schema.sql

# Logs
*.log
npm-debug.log*

# Sistema operativo / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
